In [171]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import Perceptron
from sklearn.metrics import accuracy_score

In [172]:
df = pd.read_csv("matchups1-1.csv")
df

,P_MATCH_ID,GOLDEARNED,TOTALMINIONSKILLED,WIN,KILLS,ASSISTS,DEATHS,CHAMPION,VISIONSCORE,PUUID,TOTALDAMAGEDEALTTOCHAMPIONS,SUMMONERNAME,GAMEVERSION,Unnamed: 13
0,BR1_2304032235_utility,5218,16,False,1,6,6,Bard,28,UNNl1KcPO98UoXiuRpQBefEKJbtCF_80b0_2s0Cwa5FiYi...,4500,batata 12121212,11.13.382.1241,NaN
1,BR1_2304032235_utility,7515,29,True,1,20,1,Blitzcrank,40,w2DLeo91qdfD72dpGgapMOKh_4IZ9IMF29neabiS0QTe8W...,7716,love yourseIf,11.13.382.1241,NaN
2,BR1_2304032235_jungle,9197,47,False,5,5,5,Nocturne,17,wDtmVguiopT93yrxtv2L88LxAVWC8E2fj_F3FDW81nCuSU...,9696,NTM HACKER,11.13.382.1241,NaN
3,BR1_2304032235_jungle,10564,37,True,6,8,4,Kayn,12,zVKtTZrdKVIpXwIMlsuSQjwOgqxx0DMhnWDFL7MrAKxXZq...,15291,unsuri,11.13.382.1241,NaN
4,BR1_2303451507_top,10598,158,False,6,8,7,Pantheon,17,sTevUOXxKjNW7dpbtyu9wjn8KZxzN63_f2MfGc1EALDjtq...,20568,Nome e Numeros,11.13.382.1241,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,BR1_2305743820_jungle,8144,9,False,4,5,6,Volibear,17,lXSPXoNy-s1uOSWKv4bhojwjV1NlivX1McJ73zK91MvAFt...,10992,th 11,11.13.382.1241,NaN
49996,BR1_2305697150_top,10559,150,True,6,12,1,Aatrox,19,7t_R1cG_2ve2ySy4gvZZ0uFGBqrwbZaTIlovYGjzKnnltZ...,13984,NACH0,11.13.382.1241,NaN
49997,BR1_2305697150_top,8368,144,False,3,0,9,Viego,17,6gDuhvOExckQpmj-j8eifUAXdnIvTvX9yi5tsxs7oiujg4...,13544,Urs,11.13.382.1241,NaN
49998,BR1_2305697150_middle,13212,150,True,10,14,3,Kassadin,24,TNauwGd5RbzrnuJ_pcBUTBoO2lIXfwYNPfZoWnrypKk4K-...,22854,AureosX,11.13.382.1241,NaN
49999,BR1_2305697150_middle,8057,131,False,2,3,9,Talon,17,DvwzUNdB5mIcUah67cePbA0xp87z-Fy7I7-XmeVQSV9tiC...,11279,lost motives,11.13.382.1241,NaN

In [173]:
df['matchID'] = df['P_MATCH_ID'].str.split('_').str[1]
df['position'] = df['P_MATCH_ID'].str.split('_').str[2]
df["WIN"] = df["WIN"].astype(int)
df["matchIDTEAM"] = df["matchID"] + df["WIN"].astype(str)
df = df.drop(["Unnamed: 13"], axis = 1)
df =df.dropna()
df

,P_MATCH_ID,GOLDEARNED,TOTALMINIONSKILLED,WIN,KILLS,ASSISTS,DEATHS,CHAMPION,VISIONSCORE,PUUID,TOTALDAMAGEDEALTTOCHAMPIONS,SUMMONERNAME,GAMEVERSION,matchID,position,matchIDTEAM
0,BR1_2304032235_utility,5218,16,0,1,6,6,Bard,28,UNNl1KcPO98UoXiuRpQBefEKJbtCF_80b0_2s0Cwa5FiYi...,4500,batata 12121212,11.13.382.1241,2304032235,utility,23040322350
1,BR1_2304032235_utility,7515,29,1,1,20,1,Blitzcrank,40,w2DLeo91qdfD72dpGgapMOKh_4IZ9IMF29neabiS0QTe8W...,7716,love yourseIf,11.13.382.1241,2304032235,utility,23040322351
2,BR1_2304032235_jungle,9197,47,0,5,5,5,Nocturne,17,wDtmVguiopT93yrxtv2L88LxAVWC8E2fj_F3FDW81nCuSU...,9696,NTM HACKER,11.13.382.1241,2304032235,jungle,23040322350
3,BR1_2304032235_jungle,10564,37,1,6,8,4,Kayn,12,zVKtTZrdKVIpXwIMlsuSQjwOgqxx0DMhnWDFL7MrAKxXZq...,15291,unsuri,11.13.382.1241,2304032235,jungle,23040322351
4,BR1_2303451507_top,10598,158,0,6,8,7,Pantheon,17,sTevUOXxKjNW7dpbtyu9wjn8KZxzN63_f2MfGc1EALDjtq...,20568,Nome e Numeros,11.13.382.1241,2303451507,top,23034515070
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,BR1_2305743820_jungle,8144,9,0,4,5,6,Volibear,17,lXSPXoNy-s1uOSWKv4bhojwjV1NlivX1McJ73zK91MvAFt...,10992,th 11,11.13.382.1241,2305743820,jungle,23057438200
49996,BR1_2305697150_top,10559,150,1,6,12,1,Aatrox,19,7t_R1cG_2ve2ySy4gvZZ0uFGBqrwbZaTIlovYGjzKnnltZ...,13984,NACH0,11.13.382.1241,2305697150,top,23056971501
49997,BR1_2305697150_top,8368,144,0,3,0,9,Viego,17,6gDuhvOExckQpmj-j8eifUAXdnIvTvX9yi5tsxs7oiujg4...,13544,Urs,11.13.382.1241,2305697150,top,23056971500
49998,BR1_2305697150_middle,13212,150,1,10,14,3,Kassadin,24,TNauwGd5RbzrnuJ_pcBUTBoO2lIXfwYNPfZoWnrypKk4K-...,22854,AureosX,11.13.382.1241,2305697150,middle,23056971501
49999,BR1_2305697150_middle,8057,131,0,2,3,9,Talon,17,DvwzUNdB5mIcUah67cePbA0xp87z-Fy7I7-XmeVQSV9tiC...,11279,lost motives,11.13.382.1241,2305697150,middle,23056971500

In [174]:
df1= df.groupby(['matchID', 'WIN'], as_index = False)
df1.head()

,P_MATCH_ID,GOLDEARNED,TOTALMINIONSKILLED,WIN,KILLS,ASSISTS,DEATHS,CHAMPION,VISIONSCORE,PUUID,TOTALDAMAGEDEALTTOCHAMPIONS,SUMMONERNAME,GAMEVERSION,matchID,position,matchIDTEAM
0,BR1_2304032235_utility,5218,16,0,1,6,6,Bard,28,UNNl1KcPO98UoXiuRpQBefEKJbtCF_80b0_2s0Cwa5FiYi...,4500,batata 12121212,11.13.382.1241,2304032235,utility,23040322350
1,BR1_2304032235_utility,7515,29,1,1,20,1,Blitzcrank,40,w2DLeo91qdfD72dpGgapMOKh_4IZ9IMF29neabiS0QTe8W...,7716,love yourseIf,11.13.382.1241,2304032235,utility,23040322351
2,BR1_2304032235_jungle,9197,47,0,5,5,5,Nocturne,17,wDtmVguiopT93yrxtv2L88LxAVWC8E2fj_F3FDW81nCuSU...,9696,NTM HACKER,11.13.382.1241,2304032235,jungle,23040322350
3,BR1_2304032235_jungle,10564,37,1,6,8,4,Kayn,12,zVKtTZrdKVIpXwIMlsuSQjwOgqxx0DMhnWDFL7MrAKxXZq...,15291,unsuri,11.13.382.1241,2304032235,jungle,23040322351
4,BR1_2303451507_top,10598,158,0,6,8,7,Pantheon,17,sTevUOXxKjNW7dpbtyu9wjn8KZxzN63_f2MfGc1EALDjtq...,20568,Nome e Numeros,11.13.382.1241,2303451507,top,23034515070
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,BR1_2305743820_jungle,8144,9,0,4,5,6,Volibear,17,lXSPXoNy-s1uOSWKv4bhojwjV1NlivX1McJ73zK91MvAFt...,10992,th 11,11.13.382.1241,2305743820,jungle,23057438200
49996,BR1_2305697150_top,10559,150,1,6,12,1,Aatrox,19,7t_R1cG_2ve2ySy4gvZZ0uFGBqrwbZaTIlovYGjzKnnltZ...,13984,NACH0,11.13.382.1241,2305697150,top,23056971501
49997,BR1_2305697150_top,8368,144,0,3,0,9,Viego,17,6gDuhvOExckQpmj-j8eifUAXdnIvTvX9yi5tsxs7oiujg4...,13544,Urs,11.13.382.1241,2305697150,top,23056971500
49998,BR1_2305697150_middle,13212,150,1,10,14,3,Kassadin,24,TNauwGd5RbzrnuJ_pcBUTBoO2lIXfwYNPfZoWnrypKk4K-...,22854,AureosX,11.13.382.1241,2305697150,middle,23056971501
49999,BR1_2305697150_middle,8057,131,0,2,3,9,Talon,17,DvwzUNdB5mIcUah67cePbA0xp87z-Fy7I7-XmeVQSV9tiC...,11279,lost motives,11.13.382.1241,2305697150,middle,23056971500

In [175]:
df2= df.groupby(['WIN', 'matchID'], as_index = False)
df2.head()

,P_MATCH_ID,GOLDEARNED,TOTALMINIONSKILLED,WIN,KILLS,ASSISTS,DEATHS,CHAMPION,VISIONSCORE,PUUID,TOTALDAMAGEDEALTTOCHAMPIONS,SUMMONERNAME,GAMEVERSION,matchID,position,matchIDTEAM
0,BR1_2304032235_utility,5218,16,0,1,6,6,Bard,28,UNNl1KcPO98UoXiuRpQBefEKJbtCF_80b0_2s0Cwa5FiYi...,4500,batata 12121212,11.13.382.1241,2304032235,utility,23040322350
1,BR1_2304032235_utility,7515,29,1,1,20,1,Blitzcrank,40,w2DLeo91qdfD72dpGgapMOKh_4IZ9IMF29neabiS0QTe8W...,7716,love yourseIf,11.13.382.1241,2304032235,utility,23040322351
2,BR1_2304032235_jungle,9197,47,0,5,5,5,Nocturne,17,wDtmVguiopT93yrxtv2L88LxAVWC8E2fj_F3FDW81nCuSU...,9696,NTM HACKER,11.13.382.1241,2304032235,jungle,23040322350
3,BR1_2304032235_jungle,10564,37,1,6,8,4,Kayn,12,zVKtTZrdKVIpXwIMlsuSQjwOgqxx0DMhnWDFL7MrAKxXZq...,15291,unsuri,11.13.382.1241,2304032235,jungle,23040322351
4,BR1_2303451507_top,10598,158,0,6,8,7,Pantheon,17,sTevUOXxKjNW7dpbtyu9wjn8KZxzN63_f2MfGc1EALDjtq...,20568,Nome e Numeros,11.13.382.1241,2303451507,top,23034515070
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,BR1_2305743820_jungle,8144,9,0,4,5,6,Volibear,17,lXSPXoNy-s1uOSWKv4bhojwjV1NlivX1McJ73zK91MvAFt...,10992,th 11,11.13.382.1241,2305743820,jungle,23057438200
49996,BR1_2305697150_top,10559,150,1,6,12,1,Aatrox,19,7t_R1cG_2ve2ySy4gvZZ0uFGBqrwbZaTIlovYGjzKnnltZ...,13984,NACH0,11.13.382.1241,2305697150,top,23056971501
49997,BR1_2305697150_top,8368,144,0,3,0,9,Viego,17,6gDuhvOExckQpmj-j8eifUAXdnIvTvX9yi5tsxs7oiujg4...,13544,Urs,11.13.382.1241,2305697150,top,23056971500
49998,BR1_2305697150_middle,13212,150,1,10,14,3,Kassadin,24,TNauwGd5RbzrnuJ_pcBUTBoO2lIXfwYNPfZoWnrypKk4K-...,22854,AureosX,11.13.382.1241,2305697150,middle,23056971501
49999,BR1_2305697150_middle,8057,131,0,2,3,9,Talon,17,DvwzUNdB5mIcUah67cePbA0xp87z-Fy7I7-XmeVQSV9tiC...,11279,lost motives,11.13.382.1241,2305697150,middle,23056971500

In [176]:
df3 = df.sort_values(['matchID','WIN'],ascending=False).groupby('matchID').head(10)
df3.head()

,P_MATCH_ID,GOLDEARNED,TOTALMINIONSKILLED,WIN,KILLS,ASSISTS,DEATHS,CHAMPION,VISIONSCORE,PUUID,TOTALDAMAGEDEALTTOCHAMPIONS,SUMMONERNAME,GAMEVERSION,matchID,position,matchIDTEAM
21891,LA2_971951103_top,3995,90,1,0,0,1,Volibear,8,IC7n0_BfmQyqCLM_VXmOJZEQeAj5Vi1NOAPc4W8aM3fSg-...,2563,Gargoyle Dinn,11.1.352.5559,971951103,top,9719511031
21893,LA2_971951103_middle,5918,105,1,3,1,0,Yone,5,j47Uio5so0KFIhvKszNWVVxL7uGsHcj0on1oYNpH5kgk03...,4293,tengo sueñoo,11.1.352.5559,971951103,middle,9719511031
21895,LA2_971951103_bottom,6513,91,1,6,2,1,Vayne,5,CednKqLwmgfWw_Gz1_pdpcGI3J3wv-mHD8O90wmvD-fKSs...,5797,Mamaro,11.1.352.5559,971951103,bottom,9719511031
21897,LA2_971951103_utility,4704,2,1,2,5,1,Yuumi,4,ocZrd26rrnAahZdZGP-bizqUuAdD5X_Dl-LIsCTH38SS7V...,2247,sOwí,11.1.352.5559,971951103,utility,9719511031
21899,LA2_971951103_jungle,5218,13,1,2,6,0,Nunu,20,wjh1PX9hFCf0JU4o0EpYYvn88iqL5Hvw7ETy2h__vIPbJu...,3495,Epsiløn,11.1.352.5559,971951103,jungle,9719511031

In [177]:
#df.pivot(index = ["matchID", "matchIDTEAM"], columns = "position", values = "CHAMPION")

In [182]:
pivoted_df = pd.pivot_table(df, values=['KILLS', 'ASSISTS', 'DEATHS', 'VISIONSCORE', 'GOLDEARNED', 'TOTALMINIONSKILLED'], index=['matchID', 'WIN'], columns=['position'], aggfunc='first', fill_value=0)
pivoted_df= pivoted_df.reset_index(level = 'WIN')
pivoted_df= pivoted_df.reset_index(level = 'matchID')

In [183]:
# create two separate dataframes for the winning and losing teams
win_df = pivoted_df[pivoted_df['WIN'] == 1]
lose_df = pivoted_df[pivoted_df['WIN'] == 0]

# merge the two dataframes by matchID, dropping the 'WIN' column from one of them
merged_df = pd.merge(win_df, lose_df.drop('WIN', axis=1), on='matchID')
merged_df1 = pd.merge(lose_df, win_df.drop('WIN', axis=1), on='matchID')

# rename columns to indicate whether they correspond to the winning or losing team
#merged_df.columns = [col + '_team1' if col != 'matchID' else col for col in merged_df.columns[:8]] + \
#                    [col + '_team2' for col in merged_df.columns[8:]]
#
# reorder columns to match the order you specified
finalMerged = pd.concat([merged_df, merged_df1], ignore_index = True)

#fir sine reason some I am missing some data for some of the columns

C:\Users\oqiu1\AppData\Local\Temp\ipykernel_7332\2595082883.py:6: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  merged_df = pd.merge(win_df, lose_df.drop('WIN', axis=1), on='matchID')
C:\Users\oqiu1\AppData\Local\Temp\ipykernel_7332\2595082883.py:7: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  merged_df1 = pd.merge(lose_df, win_df.drop('WIN', axis=1), on='matchID')

In [184]:
X = finalMerged.drop(columns=["matchID","WIN"])
y = finalMerged["WIN"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

C:\Users\oqiu1\AppData\Local\Temp\ipykernel_7332\1718832235.py:1: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  X = finalMerged.drop(columns=["matchID","WIN"])

In [186]:
from sklearn import tree

from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)

prediction_train = clf.predict(X_train)
print("Train Prediction: ", prediction_train)

prediction_test = clf.predict(X_test)
print("Test Prediction: ", prediction_test)

train_score = accuracy_score(y_train, prediction_train)
print("Train Score: ", train_score)

test_score = accuracy_score(y_test, prediction_test)
print("Test Score: ", test_score)

recall = recall_score(y_test, prediction_test)
print("Recall Score: ", recall)

f1 = f1_score(y_test, prediction_test)
print("F1 Score: ", f1)

Train Prediction:  [0 0 0 ... 0 1 0]
Test Prediction:  [0 1 1 ... 1 0 0]
Train Score:  1.0
Test Score:  0.878622668579627
Recall Score:  0.875140607424072
F1 Score:  0.8803394625176804